.customOverlay[data-overlay="bait"] {
	top: 20%;
}

.customOverlay[data-overlay="bait"] #customOverlayContent {
	height: auto;
	max-height: 60vh;
	overflow-y: auto;
}

.bait-sidebar-row {
	position: absolute;
	top: -37px;
	right: 0;
}

.bait-sidebar {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0;
	width: 36px;
	height: 36px;
	background-color: var(--900);
	border: 1px solid var(--500);
	border-radius: 6px;
	color: inherit;
	font: inherit;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	transition-duration: 0s !important;
}

.bait-mobile-sidebar {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0;
	width: 32px;
	height: 32px;
	margin-top: 4px;
	background-color: var(--900);
	border: 1px solid var(--500);
	color: inherit;
	font: inherit;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	transition-duration: 0s !important;
}

.bait-sidebar:hover {
	border-color: var(--300);
}

.bait-sidebar-disabled,
.bait-sidebar-disabled:hover {
	background-color: var(--900) !important;
	border-color: var(--500);
	opacity: 0.5;
	cursor: default;
}

.fishing-select-bait-radio {
	white-space: nowrap;
}

@keyframes bait-notify-flash {
	0%,
	100% {
		border-color: var(--500);
	}

	50% {
		border-color: yellow;
	}
}

.bait-sidebar-notify {
	animation: bait-notify-flash 1.5s ease-in-out infinite;
}
