.fishing-minigame-container {
	height: 80px;
	position: relative;
}

.fishing-minigame-container img {
	width: 64px;
	height: auto;
	position: absolute;
}

.fishing-minigame-sweat {
	left: -1px;
	top: -3px;
}

.fishing-minigame-splash {
	top: 0;
}

.fish-running {
	top: -3px;
}

.fish-thrashing {
	top: 0;
}

.fish-tired {
	top: 0;
}

.fish-very-tired {
	top: 3px;
}

.fish-caught {
	top: 0;
}

.fish-snapped {
	top: -2px;
	transform: translate(-2px);
}

.fish-off-hook {
	top: -2px;
	transform: translate(-2px);
}

.pc-pulled-in {
	top: 12px;
	transform: translate(34px);
}

.pc-pulled-in-pier {
	top: 8px;
	transform: translate(34px);
}
